* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

:root {
  --dark: black;
  --medium: gray;
  --light: white;
  --cuasi: rgb(48, 43, 43);
  --rojo: red;
  --greenlight: rgb(47, 122, 65);
  --greendark: rgb(25, 119, 44);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-green{
  background-color: var(--greenlight);
}
.color-light {
  color: var(--light);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.justify-text {
  text-align: justify;
}

.flex {
  display: flex;
}

.self-left {
  justify-self: left;
}

.self-right {
  justify-self: right;
}

.header {
  height: 100%;
  padding: 20px 50px;
  display: grid;
  align-content: center;
}

.categoria {
  margin: 2% 5%;
}

.task {
  align-items: center;
  width: 100%;
  margin: 1% 0;
  padding: 1% 5%;
  height: 30px;
  justify-content: space-between;
}

.divTask {
  border: 1px solid var(--dark) ;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 1% 5%;
}


input[type="text"],
input[type="submit"] {
  width: 100%;
  margin: 1% 0;
  height: 30px;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: var(--greendark);
  text-align: center;
  color: var(--light);
  border-radius: 5px;
  cursor: pointer;
}

textarea[type="text"] {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
}

footer{
  margin-top: 3%;
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 992px) {



}


@media screen and (max-width: 1200px) {



}
